<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe Home</title>
</head>
<body>
<h1>My Recipes123456</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Description</th>
        <th>PrepTime</th>
    </tr>
    <tr th:each="recipe : ${recipes}">
        <td th:text="${recipe.getId()}">123</td>
        <td th:text="${recipe.getDescription()}">Spring in Action</td>
        <td th:text="${recipe.getCookTime()}">Wrox</td>
    </tr>
</table>
</body>
</html>